.location {
    padding: 6px;
    border-radius: 10px;

    .location-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 12px 12px;

        .text {
            height: fit-content;
        }
    }

    .location-wrap {
        padding: 10px;
        background-color: #fff;
        border-radius: 12px;

        .link {
            display: flex;
            justify-content: center;
            padding-top: 12px;
        }
    }


}